body {
  margin: 0;
  font-family: Arial;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: black;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  height: 90vh;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.services {
  padding: 60px 20px;
  text-align: center;
}

.service-box {
  background: #f4f4f4;
  margin: 20px auto;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.service-box:hover {
  transform: scale(1.05);
}

.service-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.service-box {
  background: #f4f4f4;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.contact {
  background: #141e30;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.contact button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
}
