body {
  margin: 0;
  font-family: Arial;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #8B4513;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  height: 90vh;
  background: linear-gradient(to right, #f6d365, #fda085);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4a2c2a;
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.about {
  padding: 60px 20px;
  text-align: center;
  background: #fff8f0;
}

.about h2 {
  margin-bottom: 20px;
}

.menu {
  padding: 60px 20px;
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.menu-item {
  background: #fff;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.menu-item:hover {
  transform: scale(1.05);
}

.gallery {
  padding: 60px 20px;
  text-align: center;
  background: #fff8f0;
}

.gallery-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-box {
  width: 250px;
  height: 180px;
  background: #fda085;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.contact {
  padding: 50px 20px;
  text-align: center;
  background: #8B4513;
  color: white;
}

.contact button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gallery-container img {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.gallery-container img:hover {
  transform: scale(1.05);
}

html {
  scroll-behavior: smooth;
}
